<ion-header>
  <ion-toolbar>
    <ion-title>
      Custom Voice
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card [class.hide]="!token">
    <ion-card-header>
      <ion-card-subtitle>Endpoints</ion-card-subtitle>
    </ion-card-header>
    <ion-list>
      <ion-list-header>Endpoint</ion-list-header>
      <ion-item *ngFor="let item of endpoints" (click)="selectEndpoint(item);">
          {{ item.endpointUrls.Ssml }} - {{ item.name }} - {{ item.locale }} - {{ item.description }}
      </ion-item>
    </ion-list>
    <ion-card-subtitle>Text to Speak</ion-card-subtitle>
    <ion-textarea [(ngModel)]="text" placeholder="Input text to speak here"></ion-textarea>
    <ion-button expand="block" (click)="speakText();">Test</ion-button>
  </ion-card>

</ion-content>
